body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --glow-color:hsl(0deg 100% 69%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainWrapper {
  margin: 20px;
}



.datePicker {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.exchangeTable {
  border-collapse: collapse;
  width: 700px;
  margin-top: 10px;
}

.exchangeTable th, .exchangeTable td {
  border: 1px solid #ddd;
  padding: 8px;
}


.exchangeTable td:last-child {
  text-align: center;
}
.exchangeTable th {
  background-color: #f2f2f2;
  text-align: left;
}


.currencyList {
  list-style: none;
  padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.currencyList li {
  margin: 5px;
}

.currencyList button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.currencyList button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.data-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}
.data-list li {
  margin-bottom: 10px;
  display: flex;
}
.data-list li > div {
  margin-right: 20px;
}
.topWrapper .baseCurrencyDropdown {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 10px;
}
.topWrapper .baseCurrencyDropdown label {
  font-size: 12px;
  padding: 0 5px;
}
.topWrapper {
  display: flex;
  align-items: center;
}
.dropdown,input#selectedDate {
  width: 100%;
  padding: 5px 0;
  border: none;
}
.dropdown:focus,input#selectedDate:focus {
  outline: none;
}
.dropdown option {
  background-color: rgb(239, 239, 239);
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding:0 10px;
}
.topWrapper .dateWrapper.baseCurrencyDropdown {
  padding: 3px 10px;
  margin-left: 20px;
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid var(--glow-color);
  border-radius: 10px;
  background: none;
  font-size: 16px;
  box-shadow: inset 0px 0px 5px 0px var(--glow-color), 0px 0px 5px 0px var(--glow-color);
}
.glowing-btn:hover{
  box-shadow: inset 0px 0px 8px 0px var(--glow-color), 0px 0px 8px 0px var(--glow-color);
}






.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}






